AWS_REGION=us-east-1
AWS_ACCESS_KEY={GET FROM AWS}
AWS_SECRET_KEY={GET FROM AWS}
PICKUP_BUCKET={CLOUDFORMATION OUTPUT}
PROCESSING_BUCKET={CLOUDFORMATION OUTPUT}
LOADED_BUCKET={CLOUDFORMATION OUTPUT}
QUEUE={CLOUDFORMATION OUTPUT}
QUEUE_URL={CLOUDFORMATION OUTPUT}